

#contact a{
text-decoration: underline;
text-align: center;

}

body{
min-height:1024px;
display: flex;
flex-direction: column;

}

main{
flex: 1;

}

.password-wrapper {
  position: relative;
  display: flex;
  width: fit-content;
}



.toggle-password {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  height: 100%;
  aspect-ratio: 1 / 1;
}


input{
display: flex;
width: 380px;
align-content: center;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
  color: red;
  font-size: 0.85rem;
  display: none;
}

.fa-solid.fa-eye, .fa-solid.fa-eye-slash{
font-size: 20px;
color: #1D6154;
transition: filter 0.2s ease;


}

.fa-solid.fa-eye:hover, 
.fa-solid.fa-eye-slash:hover{
filter: brightness(70%);
}

